
@import url(//db.onlinewebfonts.com/c/0b51833ff62e4af8acb5fd3e2bf59e97?family=SF+Pro+Display);

body,html
{
  background: #18181e; /* fallback for old browsers */
  line-height: 1.5;
  font-family: 'SF Pro Display','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.introduction
{
    display: grid;
    justify-content: center;
    grid-template-columns: 1057px;
    gap: 40px;
} 

.introHello
{
    color: #dec79b;
    letter-spacing: 2px;
   
}
#helloText
{
    font-weight: 400;
    font-size: 48px
}

.introInfo
{
    color: #fff0ec;
    font-weight: 400;
    font-size: 21px;
}




#name
{
    font-weight: bold;
    color: #dec79b;
}

#introContactText
{
  font-size: 1.25rem;
  font-weight: 400 !important;
  color: #fff0ec;
  letter-spacing: .5px
}

.introContact
{
    display: grid;
    justify-self: start;
    padding-right: 5px;
    padding-left: 5px;
    transition: all .2s ease-in-out;
    text-decoration: none;
    box-shadow: inset 0 -5px 0 #dec79b;
}

@media screen and (max-width: 479px) {
    .introduction
{
    display: grid;
    grid-template-columns: 1fr;
    
} 


}