node_modules
dockerfile
.git
.gitignore
.env
.dockerignore
/Users/edwin/Dev/portfolio/posts
/Users/edwin/Dev/portfolio/pages/projects.tsx
/Users/edwin/Dev/portfolio/pages/about.tsx
/Users/edwin/Dev/portfolio/public/img
/Users/edwin/Dev/portfolio/pages/blog