node_modules/
.cache/
dist/
.env
.DS_Store
coverage/
.vscode/
/Users/edwin/Dev/portfolio/posts
/Users/edwin/Dev/portfolio/pages/projects.tsx
/Users/edwin/Dev/portfolio/pages/about.tsx
/Users/edwin/Dev/portfolio/public/img
/Users/edwin/Dev/portfolio/pages/blog