@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
@import '~@adidas/yarn-design-system/dist/yarn.css';
@import '~@adidas/yarn-design-system/dist/yarn-icon.css';
@import '~@adidas/yarn-design-system/dist/yarn-logo.css';
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root{
    --main-color:#dec79b;
}
body,
html {
    box-sizing: border-box;
    background-color: #18181e;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    /* fallback for old browsers */
    line-height: 1.5;
    font-family: "yarn-base","SF Pro Display", "system", "SF Pro Icons", "SF Pro Text", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    overflow-x: hidden;
    margin: 0;
}

/*introduction*/
.introduction {
    display: grid;
    justify-content: center;
    grid-template-columns: 1057px;
    gap: 40px;
}

/*Responsive Rules*/
@media only screen and (max-width: 1024px) {
    .introduction{
        grid-template-columns: none;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .introduction{
        grid-template-columns: none;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            width: 100%;
    }
    section{;
        grid-template-columns: none !important;
    }
    #sectionTitle{
        text-align: justify !important;
    }
    section#contact{
        width: 60% !important;
    }
}

@media only screen and (max-width: 600px) {
    .introduction {
        grid-gap: 40px;
        grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
        margin: auto;
        padding: 5px;
    }

    .sections {
        padding: 0 !important;
    }

    section {
        display: grid !important;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)) !important;
        justify-content: start !important;
        grid-gap: 0px !important;
    }

    .about {
        display: grid !important;
        padding: 0px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        padding-top: 200px !important;
    }

    .projects {
        display: block !important;
        padding-top: 15px;
        grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)) !important;
    }

    .Description {
        line-height: 1.9em;
    }

    /*project section*/
    section.projectSection.show-on-scroll.is-visible {
        padding: 0px;
        margin: 10px;
    }

    /*remove tool desktop*/
    .tool.desktop {
        display: none !important;
    }

    .tool.mobile {
        display: inline-block !important;
    }

    .projectSection.is-visible {
        opacity: 1;
        transform: rotateZ(-2deg);
    }

    .about.is-visible {
        opacity: 1;
        transform: rotateZ(-2deg);
    }
    section#contact {
        font-size: 1rem !important;
        width: auto !important;
    }
}

@media only screen and (max-width: 411px) {
    .about {
        padding-top: 300px !important;
    }
}

@media only screen and (max-width: 414px) {
    .about {
        padding-top: 300px !important;
    }
}

@media only screen and (max-width: 375px) {
    .about {
        padding-top: 400px !important;
    }
}

@media only screen and (max-width: 320px) {
    .projects {
        grid-template-columns: repeat(auto-fit, minmax(205px, 1fr)) !important;
    }
    section#contact {
        margin: 10px !important;
    }
}





.introHello {
    color: #dec79b;
    letter-spacing: 2px;
    text-align: center;
}

#helloText {
    font-weight: 400;
    font-size: 34px;
}

.introInfo {
    color: #fff0ec;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

#name {
    font-weight: bold;
    color: #dec79b;
}

#introContactText {
    font-size: 16px;
    font-weight: 400 !important;
    color: #fff0ec;
}

#introContactText a:link {
    text-decoration: none;
    color: #ffffff;
}

.introContact {
    justify-self: start;
    padding-right: 5px;
    padding-left: 5px;
    transition: all ease 0.8s;
    text-decoration: none;
    box-shadow: inset 0 4px 0 0 #dec79b;
    cursor: pointer;
}

.introContact:hover {
    box-shadow: inset 0 100px 0 0 #dec79b;
}

/*about and projects*/
.sections {
    display: flex;
    flex-direction: column;
    /*padding: 200px 170px;*/
    align-items: center;
}


section {
    color: #fff0ec;
    display: grid;
    grid-template-columns: 200px 3fr;
    justify-content: center;
    grid-gap: 100px;
}

.projects {
    display: grid;
    grid-template-columns: 100px 100px 200px 220px;
    grid-template-rows: auto auto 100px;
    grid-row-gap: 20px;
    grid-template-areas:
        "title title title demo"
        "description description description description"
        "description description description description"
        "tool tool tool tool ";
}

#sectionTitle {
    justify-self: start;
    width: 200px;
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: end;
    color: #dec79b;
}

.about {
    /*padding-top: 90px;*/
    padding: 200px 100px;
    opacity: 0;
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
        opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}

.about.is-visible {
    opacity: 1;
    /*transform: rotateZ(-2deg);*/
}

.projectSection {
    padding-top: 100px;
    opacity: 0;
    transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
        opacity 0.3s 0.25s ease-out;
    will-change: transform, opacity;
}

.projectSection.is-visible {
    opacity: 1;
    /*transform: rotateZ(-2deg);*/
}

.Title {
    grid-area: title;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #afafbf;
}

.Demo {
    grid-area: demo;
    text-align: end;
}

.Demo a {
    color: #fff0ec;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    text-decoration: none;
}

.demoBtn {
    border: 0 solid #dec79b;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.demoBtn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.Description {
    grid-area: description;
    letter-spacing: 1px;
    line-height: 1.9em;
    color: #afafbf;
}

div#html-css {
    /* text-align: end; */
    display: flex;
    padding-left: 15px;
}

div#MySQL {
    /* display: flex; */
    /* text-align: start; */
    padding-left: 25px;
}

.tool {
    /*grid-area: tool;*/
    color: #afafbf;
    /*display: grid;*/
    /*grid-column: inherit;*/
    display: flex;
    gap: 10px;
    text-decoration: underline;
}

/*remove tool mobile*/
.tool.mobile {
    display: none;
}

/*contact*/
section#contact {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 20vh;
    padding: 0px;
    background: #303841;
    border-radius: 100px;
    font-weight: 700;
    text-align: center;
    font-size: 2rem;
    margin:50px;
    border: 2px solid var(--main-color);
    width: 50%;
}

.contact-section-header{
    display: none;
}

.contact-link a{
    text-decoration: none;
    color: var(--main-color);
}

.contact-link a:hover{
    text-decoration: underline;
}

a.btn-contact-details{
    display: inline-block;
    padding:1px;

}

/*social media button*/
/*footer ending*/
footer {
    padding: 5px;
    border-top: 5px solid var(--main-color);
}

footer p {
    color: var(--main-color);
    text-align: center;
}


